#g-main-barchar-scale-axis {
}
.bar {
  shape-rendering: crispEdges;
}
.gridline path,
.gridline line {
  fill: none;
  stroke: #ccc;
  shape-rendering: crispEdges;
}

/* Line Chart */
.line {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
#line-graph-div {
  border: 1px solid green;
}
#line-graph-svg {
  color: orange;
}

/* End of Line Chart */
