#footer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 2fr;
  grid-gap: 5px;
  background-color: #0088a9;
  border-top-left-radius: 100px;
  margin-left: 12%;
  padding: 0 2% 0 5%;
  border-top: 4px solid #436fac;
  border-top: #fc6d6d;
  font-size: clamp(0.5em, 3vw, 2em);
  border: 3px solid pink;
  padding: 10px 20px;
}
.footer-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0 15px;
}

.copyright {
  color: #fc6d6d;
  margin-top: 2%;
}
.footer-somedia {
  margin-top: 2%;
}
.footer-somedia a {
  text-decoration: none;
}
.footer-somedia a:visited {
  text-decoration: none;
}
.footer-somedia a:link {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.footer-somedia i {
  font-size: 2em;
}

.footer-somedia a i:hover {
  font-size: 3.5em;
  border: 1px solid #fc6d6d;
  border-radius: 5px;
  background-color: #fc6d6d;
  transition: all 0.5s ease-in;
}
.footer-content p {
  text-align: justify;
}
.footer-h2 {
  padding-left: 10px;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fc6d6d;
  font-family: Tox, "Courier New", Courier, monospace;
}

.input-field {
  border-radius: 5px;
  height: 30px;
  width: 100%;
}


@media screen and (max-width: 680px) {
  .footer-main-content {
    display: flex;
    flex-direction: column;
    font-size: 2em;
  }
}