#footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-gap: 5px;
  background-color: #0088a9;
  border-top-left-radius: 100px;
  margin-left: 12%;
  padding: 0 2% 0 5%;
  border-top: 0.5px solid #436fac;
  font-size: clamp(0.5em, 2.5vw, 2em);
  padding: 10px 20px;
}
.footer-group {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 0 15px;
  grid-column: 1 / 3;
    grid-row: 1 / 2;
}
.footer-address {
  grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-family: 'Goldman', cursive;
   
}
.span {
  margin: 5px;
}
.copyright {
  grid-column: 1 / 3;
  grid-row: 2/3;
  color: blanchedalmond;
  margin-top: 2%;
  font-family: 'Goldman', cursive;
}
.footer-somedia {
  grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.footer-somedia-items {
  flex-direction: row;
  margin-top: 2%;
}
.footer-somedia a {
  text-decoration: none;
}
.footer-somedia a:visited {
  text-decoration: none;
}
.footer-somedia a:link {
  text-decoration: none;
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
.footer-somedia i {
  font-size: 1.5em;
}

.footer-somedia a i:hover {
  font-size: 1.75em;
  transition: all 0.5s ease-in-out;
  
}
.footer-h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: blanchedalmond;
  font-family: Tox, "Courier New", Courier, monospace;
}
.heading-h2 {
  color: #fc6d6d;
}
.fas {
  color: #fc6d6d;
}
.fa-brands {
  cursor: pointer
}

@media screen and (max-width: 768px) {
  #footer {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    font-size: clamp(0.75em, 3vw, 2em);
  transition: all 1s ease-in-out;
  
  }
  .footer-address {
    grid-column: 1 / 2;
      grid-row: 1 / 2;
  }
  .copyright {
    grid-column: 1 / 2;
    grid-row: 3/4;
      }
  .footer-somedia {
    grid-column: 1 / 2;
      grid-row: 2 / 3;
  }
}