div.search-box {
    position: relative;
    /* top: 0;
    right: 0; */
    /* transform: translate(-50%, -50%); */
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    width: 0;
}

button.search-btn {
    color: #e84118;
    transition: 3s;
    border-radius: 40px;
    /* float: right; */
    width: 40px;
    height: 40px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bader {
    
    float: right;
    width: 40px;
    height: 40px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0;
    border: solid 1px white;
}

input.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    border-radius: 40px;
    width: 0;
    /* padding: 0; */
    /* padding: 0 0 0 5px; */
    background-color: transparent;
}
div.search-box:hover {
  width: 100%;
}
div.search-box:hover > .search-txt{
    width: 10;
    /* padding: 0 2px; */
}

div.search-box:hover > button.search-btn{
    background: white;
}