.search-box {
    position: relative;
    top: 0;
    left: 28%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}

button.search-btn {
    color: #e84118;
    transition: 3s;
    border-radius: 40px;
    float: right;
    width: 40px;
    height: 40px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bader {
    
    float: right;
    width: 40px;
    height: 40px;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    padding: 0;
    border: solid 1px white;
}

input.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0;
    padding: 0;
}

div.search-box:hover > input.search-txt{
    width: 120px;
    padding: 0 2px;
}

div.search-box:hover > button.search-btn{
    background: white;
}